@import 'libs/bootstrap-reboot.min';
@import 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;

    @media (max-width: 1200px) {
        max-width: 950px;
    }

    @media (max-width: 991px) {
        max-width: 760px;
    }

    @media (max-width: 767px) {
        max-width: 560px;
    }

    @media (max-width: 575px) {

        padding: 0 10px 0 10px;
    }
}

.pageup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/problems';
@import 'blocks/products';
@import 'blocks/advantages';
@import 'blocks/storage';
@import 'blocks/access';
@import 'blocks/footer';

@import 'blocks/media';