@media (max-width: 1200px) {
    .contacts {
        &__item {
            flex-direction: column;
            img {
                margin: 0 auto;
            }
        }
        &__text {
            margin-left: 0;
            padding: 5px 5px 0 0;
            line-height: 14px;
            text-align: center;
        }
    }

    .problems {
        padding: 60px 0 60px 0;
        &__items {
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__item {
            margin-bottom: 30px;
        }
        &__arrows {
            padding-top: 15px;
        }
    }
    .products {
        &__carousel {
                img {
                    width: 100%;
                }
            }
    }
}

@media (max-width: 991px) {
    .contacts {
        &__text {
            font-size: 11px;
        }
    }
    .promo {
        .subheader {
            .menu {
                width: 500px;
                padding-left: 0;
            }
        }
        h1 {
            max-width: 500px;
        }
    }

    .storage {
        padding: 73px 0 100px 0;
        &__subtitle {
            padding-top: 15px;
            font-size: 26px;
            line-height: 30px;
        }
        &__descr {
            padding-top: 8px;
            font-size: 16px;

        }
    }

}

@media (max-width: 767px) {
    header {
        position: relative;
        display: block;
        min-height: 45px;
        .contacts {
            &__item {
                display: none;
            }
            .tabs__wrapper {
                width: 100%;
            }
            &__tabs {
                padding-left: 0;
                margin-bottom: 0;
                display: flex;
                list-style-type: none;
                justify-content: space-around;
                cursor: pointer;
                img {
                    // flex-grow: 1;
                    padding-top: 0px;
                }

            }
            &__content {
                display: none;
                &_active {
                    display: block;
                }
            }
            &__tab_active {
                box-shadow: 4px 4px 10px $main-color;
                img{
                    height: 30px;
                    width: 32px;
                }
            }
        }
    }
    .promo {
        .subheader {
            .menu {
                position: fixed;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                top: 0;
                left: -100%;
                width: 50%;
                height: 100vh;
                padding: 20px 15px;
                background-color: rgba(0, 0, 0, .8);
                transition: 0.6s all;
                &_active {
                    left: 0;
                }
                &__item {                
                    width: 100%;
                    text-align: center;
                    padding-right: 0;
                    border: none;
                    margin: 10px 0;
                    padding: 5px 0;
                }
                &__link {
                    font-size: 20px;
                    display: block;
                }
            }
            .hamburger {
                display: block;
                position: relative;
                // right: 15px;

                transform: translateY(50%);
                width: 26px;
                height: 36px;
                padding: 12px 0 12px 0;
                span {
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: #FFFFFF;
                    margin-bottom: 3px;
                    transition: 0.5s all;
                }
                &_active {
                    span {                
                        margin-bottom: -2px;
                        &:nth-child(1) {
                            transform: translateY(3px) rotate(-45deg);
                        }
                        &:nth-child(2){
                            display: none;
                        }
                        &:nth-child(3){
                            transform: translateY(3px) rotate(45deg);
                        }
                    }
                }
            }
        }
        h1 {
            font-size: 28px;
            max-width: 400px;
            line-height: 39px;
        }
        &__descr {
            max-width: 400px;
            font-size: 20px;
            line-height: 26px;
        }
    }

    .problems {
        padding: 60px 0 20px 0;
        h2 {
            font-size: 28px;
            font-weight: 700;
        }
    }
    .products {
        padding-bottom: 30px;
        h3 {
            padding-top: 50px;
            width: 100%;
            font-size: 22px;
        }
        &__menu {
            padding-left: 5px;
            padding-right: 5px;
            height: auto;
        }
    
        &__link {
            font-size: 13px;

        }
    
        &__item {
            padding-right: 8px;
        }
    }
    .advantages {
        padding: 45px 0 40px 0;
        h3 {
            font-size: 24px;
        }
        &__descr {
            font-size: 20px;
        }
    }
    .storage {
        padding: 60px 0 100px 0;
        &__title {
            font-size: 26px;
            line-height: 30px;
        }
        &__items {
            margin-top: 50px;
            // flex-wrap: wrap;
        }
        &__item {
            &_left {
                margin-right: 30px;
                &:before {
                    top: calc(40% + 5px);
                    right: calc(50% + 15px);
                    width: 170px;
                    height: 170px;
                }
            }
            &_right {
                margin-left: 30px;
                &:before {
                    top: calc(40% + 5px);
                    left: calc(50% + 15px);
                    width: 170px;
                    height: 170px;
                }
            }
        }

        &__subtitle {
            font-size: 26px;
        }
        &__descr {
            line-height: 22px;
        }
    }

    .access {
        padding: 50px 0 50px 0;
        &__title {
            font-size: 26px;
            line-height: 33px;
        }
    }
}

@media (max-width: 575px) {
    .promo {
        .subheader {
            .menu {
                width: 75%;
            }
        }
        h1 {
            max-width: 320px;
        }
        &__descr {
            max-width: 320px;
        }
    }

    .problems {
        &__item {
            height: 215px;
            width: 300px;
            background-size: 300px 215px;
        }
        &__img {
            padding-top: 1px;
        }
        &__descr {
            padding-top: 0;
            font-size: 16px;
        }

        .solutions {
            &__item {
                height: 215px;
                width: 300px;
                background-size: 300px 215px;
            }
            &__descr {
                padding-top: 0;
                font-size: 16px;
            }
        }

    }

    .products {
        &__menu {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            max-width: 240px;
            height: 100%;
            list-style-type: none;
            border: 1px solid #ffffff;
            border-radius: 5px;
        }

        &__link {
            line-height: 15px;
        }
    
        &__item {
            text-align: center;
            border-right: none;
            border-bottom: 1px solid #91989a;
            padding-bottom: 7px;
            margin: 5px 0;
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }
    .advantages {
        h3 {
            font-size: 22px;
        }
        &__item {
            // width: aut;
            height: 300px;
        }
        &__descr {
            font-size: 18px;
        }
    }

    .storage {
        padding: 60px 0 30px 0;
        &__items {
            margin-top: 30px;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            margin-bottom: 30px;
            &:before {
                content: none;
            }
            &_left {
                margin-right: 5px;
            }
            &_right {
                margin-left: 5px;
            }
        }
    }
    .access {
        &__img {
            max-width: 295px ;
        }
    
        &__title {
            padding-top: 30px;
            font-size: 22px;
            line-height: 26px;
        }
    }
}